
@mixin fontface($fontfamily,$fontsize,$color,$fontweight) 
{
    font-family: $fontfamily;
    font-size: $fontsize;
    color: $color;
    font-weight: $fontweight;
}
@mixin DrawCircle($width,$color) {
    width: $width;
    height: $width;
    background: $color;
    text-align: center;
    -moz-border-radius: $width;
    -webkit-border-radius: $width;
    border-radius:$width;
}
@mixin AboutUsImg($left,$top) {
    z-index: 1;
    position: absolute; 
    left: $left;
    top:$top;
}
@mixin Drawpercentline($percent) {
    
    height: 40px;
    background-color: #566065;
    line-height: 40px;
    position: relative;
    .feature{
        left: 20px;
        position: absolute;
        z-index: 2;
        @include fontface($lato-light,16px,#ffffff,normal);
    }
    .per{
        margin-right: 20px;
        right: 100%-$percent;
        position: absolute;
        z-index: 2;
        @include fontface($lato-light,16px,#ffffff,normal);
    }
    &::before{
        position: absolute;
        content: "";
        height: 100%;
        width: $percent;
        background-color: #f89a3d;
    }
}

@mixin Draw2cicle($mess) {
    @media (max-width: 1023px) {  
        padding: 80px 0px;   
    }
    padding-left: 140px;
    padding-right: 140px;
    padding: 80px 140px 0px 140px;
    text-align: center;
    background-color:#ffffffff;
    span{
        color: $main-bright;
    }
    .AboutUs{
        clear: both;
        position: relative;
        @include fontface($font-heading,60px,#ffffff,400); 
        .circle {
            @include DrawCircle(170px,$main-dark);
            position: absolute;
            left: 36%;
            // @media (max-width: 360px) { 
            //     left:4%;
            // }
        }
        .circle2 {
            position: absolute;
            @include DrawCircle(170px,$main-bright);
            left: 47%;
            &::before{
                content: $mess;
                top: 40px;
                left: -78%;
                width: 200%;
                position: absolute;
            }
            @media (max-width: 320px) { 

            }
        }
        @media (max-width: 1200px) { 
            .circle{
                left: 32%;
            }
        }
        @media (max-width: 1023px) { 
            .circle{
                left: 36%;
            }
        }
        @media (max-width: 991px) { 
            .circle{
                left: 33%;
            }
        }
        @media (max-width: 767px) { 
            .circle{
                left: 24%;
            }
            .circle2{
                left: 43%;
            }
        }
        @media (max-width: 539px) { 
            .circle{
                left: 18%;
            }
            .circle2{
                left: 40%;
            }
        }
        @media (max-width: 480px) { 
            .circle{
                left: 14%;
            }
        }
        @media (max-width: 410px) { 
            .circle{
                left: 11%;
            }
        }
        @media (max-width: 370px) { 
            .circle{
                left: 7%;
            }
        }
        @media (max-width: 330px) { 
            .circle{
                left: 5%;
            }
        }
   
    }
    .subtit{
        margin-top: 200px;
        padding-bottom: 100px;
        position: relative;
        @include fontface($lato-regular,30px,$main-dark,normal);
        &::after{
            z-index: 1;
            position: absolute;
            left: 47.7%;
            bottom: -40px;
            content: "";
            width: 0;
            height: 0;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 40px solid #ffffff;
            @media (max-width: 1023px) {  
                bottom: -120px;
            }
            @media (max-width: 767px) {  
                left: 45%;
            }
        }
    }
}