@import 'fonts';
@import 'mixin';
$main-bright: #f89a3d;
$main-dark:#566065;
header{
    background-image: url('../images/headerBrg_01.jpg');
    background-repeat: no-repeat;
    height: 660px;
    position: relative;
    text-align: center;
    .headd{
        position: absolute;
        width: 100%;
        .headeli{
            padding: 50px 0px;
            margin-top: 100px;
            width: 100%;
            line-height: 100px;
            text-transform: uppercase;
            @include fontface($font-heading,100px,#ffffff,400);     
            background-color: rgba($color: #1c1c1d, $alpha: 0.3);
        }
        .amazing{
            padding: 70px 420px;
            text-transform: uppercase;
            @include fontface($lato-regular,36px,#ffffff,bold);  
            .orange{
                background-color: $main-bright;
                padding: 0px 10px;
            }
        }
        @media (max-width: 1500px) {
            .amazing{
                padding: 70px 0px;
            }
        }
    }

}

nav{
    margin-top: 10px;
    padding-bottom: 80px;
    .logo{
        margin-top: 10px;
        float: left;
        @include fontface($font-heading,36px,$main-bright,400); 
    }
    .navbar{
        float: right;
        a{
            line-height: 50px;
            padding-bottom: 20px;
            &:hover{
                color:$main-bright;
                border-bottom: 2px solid $main-bright;
            }
            text-decoration: none;
            @include fontface($font-heading,18px,$main-dark,400); 
        }
        ul{
            
            li{
                img{
                    margin-left: 5px;
                }
                margin-right: 30px;
                list-style-type: none;
                display: inline-block;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}

///===================================ABOUT US=============================================================================
.aboutusctn{
    @include Draw2cicle('ABOUT US');
}
.fullaboutus{
    box-shadow: inset 0px 40px 39px -39px rgba(0,0,0,0.44);
    padding-top: 100px;
    background-color: #f6f6f6;
    .iconhover{
        text-align: center;
        &:hover{
            .icon{
                background-color: #ffddbb;
            }
            span{
                color: $main-bright;
            } 
        }       
    }
    .iconcover{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        .icon{
            position: relative;
            &::before{
                position: absolute;
                content: "";
                @include DrawCircle(56px,$main-bright);
                left: 7px;
                top:7px;
            }
            @include DrawCircle(70px,$main-bright);
        }
    }
    span{
        @include fontface($font-heading,24px,$main-dark,normal);
        text-transform: uppercase;
    }
    .decrpt{
        margin-top: 10px;
        @include fontface($lato-light,16px,$main-dark,normal);
    }
    #abus1{
        @include AboutUsImg(24%,15px);
    }
    #abus2{
        @include AboutUsImg(24px,20px);
    } 
    #abus3{
        @include AboutUsImg(27%,17px);
    }   
    .learnmoreboutus{
        margin: 70px 0px 50px 0px;
        position: relative;
        border-top:1px solid #e7e7e7;
        @include fontface($lato-light,16px,#c3c3c3,normal);
        p{
            padding: 0 10px;
            background-color: #f6f6f6;
            margin-top: -13px;
            z-index: 2;
            position: absolute;
            left: 42%;
        }
    }
////learn more about us==========================
    .percentline{
        margin-bottom: 15px;
    }
    .no1{
        @include Drawpercentline(90%);
    }
    .no2{
        @include Drawpercentline(85%);
    }
    .no3{
        @include Drawpercentline(70%);
    }
    .no4{
        @include Drawpercentline(95%);
    }

    .figure{
        padding-bottom:100px;
        width: 100%;
        text-align: center;
        @include fontface($font-heading,36px,$main-dark,normal);
    }
    .number{
        margin-top: 40px;
        @include fontface($font-heading,60px,$main-bright,normal);
    }
}
////// ===========OUR TEAM========================================================================================================================
.markHain{
    //'Oswald-200'
    margin-bottom: 20px;
    padding: 90px 415px;
    text-align: center;
    height: 500px;
    width: auto;
    background-image: url('../images/marktwain_06.jpg');
    background-repeat: no-repeat;
    .quote{
        span{
            color: $main-bright;
        }
        margin: 40px 0px;
        @include fontface('Oswald-200',36px,#ffffff,normal);
    }
    .author{
        @include fontface('Oswald-200',24px,#ffffff,normal);
    }
}
@media (max-width: 1500px) {
    .markHain{
        padding: 70px 0px;
    }
}
.ourteamctn{
    @include Draw2cicle('OUR TEAM');
    // span{
    //     color: $main-bright;
    // }
}
.johnDoe{
    margin-bottom: 10px;
    background-color: #ffffff;
    .JohnDoeImg{
        background-image: url('../images/johnDoe_03.jpg');
        background-repeat: no-repeat;
        height: 246px;
        .jdhover{
            background-color: rgba($color: $main-bright, $alpha: 0.5);
            height: 246px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            display: none;
        }
    }
    .decrpt{
        padding:0px 20px 30px 20px;
        color: #afb6ba;
    }
    .tagname{
        padding: 20px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
    }
    .name{
        @include fontface($font-heading,18px,#666e73,normal);
    }
    .founder{
        @include fontface($font-heading,14px,#afb6ba,normal);
    }
    &:hover{
        
        .JohnDoeImg{
            .jdhover{
                display: flex;
                
            }
        }   
    }
    .viewprofile{
        background-color: rgba($color:$main-dark, $alpha: 0.3);
        @include fontface($font-heading,18px,#ffffff,bold);
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
}
.amazingclient{
    color: $main-dark;
    padding: 10px 120px;
}
.buble{
    margin-top: 30px;
}
.cilent{
    margin-top: 50px;
}
/////===============================service===================================================================================
.SERVICEctn{
    @include Draw2cicle('SERVICES');
}
.serviceDecrpt{
    .serviceImg{
        margin: 0px 30px 30px 0px;
        float: left;
    }
    &:first-child{
        .decrpt{
            margin-bottom: 50px;
        }  
    }
}
.figure{
    .feedback{
        margin-top: 30px;
        position: relative;
        box-shadow: -40px 95px 22px -98px rgba(0,0,0,0.75);
        background-color: #ffffff;
        padding: 40px 20px;
        @include fontface($font-Feedback,16px,$main-dark,normal);
        text-align: left;
        &::after{
            position: absolute;
            left: 60px;
            bottom: -20px;
            content: "";
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #ffffff;
        }
    }
    .feedbacker{
        text-align: left;
        margin-bottom: 50px;
        padding: 40px 25px 0px 25px;
        img{
            margin-right: 18px;
            float: left;
        }
        .feedbackername{
            @include fontface('OpenSans-Light',16px,#282828,normal);
        }
        @include fontface($font-Feedback,12px,#a9a9a9,normal);
    }
}
///============ PORTFOLIO============================================================================================================
.giveatry{
    background-image: url('../images/giveatry_06.jpg');
    height: 352px;
    background-repeat: no-repeat;
    .givingbtn{
        img{
            padding: 15px 30px;
            background-color: #f89a3d;
        }
    }
    .giveqoute{
        margin: 0px 0px 30px 0px;
    }
}
.PORTFOLIOctn{
    @include Draw2cicle('PORTFOLIO');
}

